page-login {
<<<<<<< HEAD
    .inicio{
        background-color: #ffffff;
    }

    .bienvenido{
        background-color: #c7d0d6;
=======
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height:  100%;
    
        text-align: center;
>>>>>>> 8154672a902427d956ee3fe94b55879b7415992e
    }
}

