<!--
  Generated template for the AllaparatosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
      <ion-title>Aparatos</ion-title>
    </ion-navbar>
    
<ion-searchbar placeholder="buscar" (ionInput)="getItems($event)">

</ion-searchbar>
</ion-header>


<ion-content padding>
  <ion-item>

      <ion-select [(ngModel)]="filtro.val">
          <ion-option value="1">En Funcionamiento</ion-option>
          <ion-option value="2">En Mantenimiento</ion-option>
          <ion-option value="3">Fuera de Servicio</ion-option>
       </ion-select>
  </ion-item>
  <button ion-button icon-start (click)="verFiltro()">
      <ion-icon name="search"></ion-icon>
      Filtrar
  </button>
  

   <ion-item *ngFor="let aparato of items" (click)="actionSheet(aparato)">
     <h2><b> {{ aparato.nombre }}</b></h2>
        <p align="right" class="bluetext" *ngIf="aparato.estado=='1'" color="secondary">EN FUNCIONAMIENTO</p>
        <p align="right" class="greentext" *ngIf="aparato.estado=='2'" color="gray">EN MANTENIMIENTO</p>
        <p align="right" class="redtext" *ngIf="aparato.estado=='3'" color="danger">FUERA DE SERVICIO</p>
        <p align="left"><b>ID: </b> {{ aparato.id}}</p>
        <p align="left"><b>DESCRIPCION: </b> {{ aparato.descripcion }}</p>

      </ion-item>

</ion-content>
