page-allaparatos {
    .redtext{
        color: darkred;
       }
    .bluetext{
        color: blue;
      }
      .greentext{
        color: green;
      }
      .colorh2{
        color: rgb(70, 112, 230);
      }
}
