page-add-cliente {
    .text-input::-moz-placeholder {
        color: rgb(128, 127, 136);
      }
      
      .text-input:-ms-input-placeholder {
        color: rgb(128, 127, 136);
      }
      
      .text-input::-webkit-input-placeholder {
        color: rgb(128, 127, 136);
      }
      
      //input{
        //text-transform: uppercase;
        
     //}

     
     
}
