<!--
  Generated template for the HistorialAparatosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar  color="primary">
    <ion-title>Historial Modificaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let registro of historial">
      
    <p><b>ID ADMIN: </b>  {{ registro.id_admin }}</p>
    <p><b>NOMBRE EMPLEADO: </b> {{ registro.Nombre }}</p>
    <p><b>ID APARATO: </b> {{ registro.id_aparato }}</p>
    <p><b>NOMBRE: </b> {{ registro.nombre }}</p>
    <p><b>DESCRIPCION: </b> {{ registro.descripcion }}</p>
    <p><b>FECHA (AÑO/MES/DIA): </b> {{ registro.fecha }}</p>
    <p *ngIf="registro.accion=='1'"><b>ACCION: </b> AGREGAR</p>
    <p *ngIf="registro.accion=='2'"><b>ACCION: </b> MODIFICAR</p>
  </ion-item>

</ion-content>
